<app-navbar></app-navbar>

<div class="container-fluid heading-div">
  <div class="display-4 heading">
    our <span class="font-weight-bold">menu</span>
  </div>
  <div class="mt-2 text-center">
    <i
      >" I don't want to hear the specials. If they're so special, put 'em on
      the menu "</i
    >
  </div>
</div>

<div class="container-fluid">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-xl-5 bg-cus-dark border p-5">
        <div>
          <div class="menu-heading text-center">social plates</div>
          <div class="text-center dish-name mt-5 font-weight-bold">
            crispy chicken skins
          </div>
          <div class="text-center text-muted mt-3 dish-desc">smoked honey</div>
        </div>
      </div>
      <div class="col-xl-2"></div>
      <div class="col-xl-5 bg-dark border p-5">
        <div class="text-light">
          <div class="menu-heading text-center">social plates</div>
          <div class="text-center dish-name mt-5 font-weight-bold">
            crispy chicken skins
          </div>
          <div class="text-center mt-3 dish-desc">smoked honey</div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
