/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: default;
}

:root{
    --cinzel: 'Cinzel', serif;
    
    --super-dark: #ecfbfc;
    --dark: #f4f3f3;
    --medium: #dfdfdf;
    --contrast: #D4AF37;
}