<nav class="navbar navbar-expand-md bg-my-dark navbar-light cus-border-bottom sticky-top">
  <!-- Brand -->
  <a class="navbar-brand text-muted" href="#">CARSAS KITCHEN</a>

  <!-- Toggler/collapsibe Button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid bg-my-dark p-5">
  <h1 class="display-4 ml-5 heading">
    <p>Welcome To</p>
    <p>Carsas Kitchen</p>
  </h1>
</div>
