.parallax {
  background-image: url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.update {
  height: 90vh;
  background: var(--super-dark);
}
.link-size {
  font-size: 0.8rem;
}
.heading {
  height: 50vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 8rem;
  text-shadow: 1px 5px 15px black;
  font-weight: bolder;
  font-family: var(--cinzel);
  text-transform: uppercase;
}
.bg-opdark {
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}
.height-100 {
  height: 100vh;
}
.bg-csdark {
  background: var(--dark);
}
.cus-heading {
  font-size: 3rem;
  font-family: var(--cinzel);
  word-spacing: 5px;
  letter-spacing: 2px;
}
.center-pos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.size-address {
  font-size: 0.8rem;
}
.top-navbar {
  display: none;
}
.bg-med {
  background: var(--medium);
}
.img-size {
  height: 50vh;
  width: 100%;
  object-fit: cover;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.img-size:hover {
  opacity: 0.8;
}
.col-lg-4 {
  padding: 0px;
}
.height-90 {
  height: 70vh;
}
.cus-heading-without-font {
  font-size: 2rem;
  word-spacing: 5px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

@media screen and (max-width: 700px) {
  .heading {
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 5rem;
    text-shadow: 1px 5px 15px black;
    font-weight: bolder;
    font-family: var(--cinzel);
    text-transform: uppercase;
  }
  .height-90 {
    height: 100%;
  }
}
